<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="clientNamespacePrefixMapperImpl" class="com.singham.yuan.ws.test.common.xml.NamespacePrefixMapperImpl"/>

    <bean id="clientHeadMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="contextPath" value="com.singham.yuan.head"/>
        <property name="marshallerProperties">
            <map>
                <entry key="jaxb.fragment">
                    <value type="java.lang.Boolean">true</value>
                </entry>
                <entry key="jaxb.formatted.output">
                    <value type="java.lang.Boolean">true</value>
                </entry>
                <entry key="com.sun.xml.bind.namespacePrefixMapper" value-ref="clientNamespacePrefixMapperImpl"/>
            </map>
        </property>
    </bean>

    <bean id="clientBodyMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="contextPath" value="com.singham.yuan.body"/>
        <property name="marshallerProperties">
            <map>
                <!--<entry key="com.sun.xml.bind.namespacePrefixMapper" value-ref="clientNamespacePrefixMapperImpl"/>-->
            </map>
        </property>
    </bean>

    <bean id="clientFaultMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="contextPath" value="org.xmlsoap.schemas.soap.envelope"/>
    </bean>

    <bean id="clientHandleNsPrefixService" class="com.singham.yuan.ws.test.common.service.HandleNsPrefixService"/>

    <bean id="clientTransformMessageService" class="com.singham.yuan.ws.test.common.service.TransformMessageService"/>

    <bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory">
        <property name="messageProperties">
            <map>
                <entry key="javax.xml.soap.write-xml-declaration" value="true"/>
            </map>
        </property>
    </bean>

    <bean id="webServiceTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">
        <constructor-arg ref="messageFactory"/>
        <property name="marshaller" ref="clientBodyMarshaller"/>
        <property name="unmarshaller" ref="clientBodyMarshaller"/>
        <property name="messageSender">
            <bean class="com.singham.yuan.ws.test.client.http.EnhanceHttpUrlConnectionMessageSender"/>
        </property>
        <property name="interceptors">
            <list>
                <ref bean="logClientInterceptor"/>
            </list>
        </property>
    </bean>

</beans>